a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,
html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

body{
    margin: 100px;
}

#tab{
    border: 1px solid #dddddd;
    width: 498px;
    height: 120px;

    overflow: hidden;
}

#tab-header{
    height: 38px;
    line-height: 38px;
    background-color: #f7f7f7;
    text-align: center;

    position: relative;
}

#tab-header ul{
    width: 501px;

    position: absolute;
    left: -1px;
}


#tab-header ul li{
    float: left;
    /*background-color: aqua;*/
    width: 98px;
    padding: 0 1px;

    border-bottom: 1px solid #dddddd;
}

#tab-header ul li.selected{
    background-color: white;
    border-bottom: 0;

    padding: 0;

    border-left: 1px solid #dddddd;
}

#tab-content .dom{
    display: none;
}

#tab-content .dom a{
    background-color: cyan;
    width: 220px;
    float:left;
    margin: 8px;
    /*padding: ;*/
}








